main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  margin-top: 5%;
  margin-bottom: 7%;
  background-color: bisque;
  width: 70%;
  text-align: center;
}

nav a {
  margin-right: 5%;
}

a-newevent form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

a-events-overview {
  width: 80%;
  padding-top: 10%;
}

drag-n-drop .dropzone {
  width: 200px;
  height: 200px;
  background-color: khaki;
  border: 1px solid black;
}

drag-item div {
  width: 80px;
  height: 80px;
  border: 1px solid black;
  background-color: cyan;
}

svg-resize .resizable {
  background: grey;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 100px;
  left: 100px;
}

svg-resize .resizable .resizers{
  width: 100%;
  height: 100%;
  border: 3px solid #4286f4;
  box-sizing: border-box;
}

svg-resize .resizable .resizers .resizer{
  width: 10px;
  height: 10px;
  border-radius: 50%; /*magic to turn square into circle*/
  background: white;
  border: 3px solid #4286f4;
  position: absolute;
}

svg-resize .resizable .resizers .resizer.top-left {
  left: -5px;
  top: -5px;
  cursor: nwse-resize; /*resizer cursor*/
}
svg-resize .resizable .resizers .resizer.top-right {
  right: -5px;
  top: -5px;
  cursor: nesw-resize;
}
svg-resize .resizable .resizers .resizer.bottom-left {
  left: -5px;
  bottom: -5px;
  cursor: nesw-resize;
}
svg-resize .resizable .resizers .resizer.bottom-right {
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
}